<template>
    <v-col>

    <v-card class="mx-auto">
        <v-toolbar color="light-blue" dark>
            <v-btn icon v-if="showBackArrow" v-on:click="$router.go(-1)"><v-icon>mdi-arrow-left</v-icon></v-btn>

            <v-spacer></v-spacer>

            <add-folder v-bind:get-parent-id="spaceId" @refresh="refreshData()"></add-folder>
        </v-toolbar>

        <v-list two-line subheader>
            <v-subheader inset>Folders</v-subheader>

            <v-list-item v-for="item in folders" :key="item.id"  :to="'/drive/' + item.id" link>
                <v-list-item-avatar>
                    <v-icon class="grey lighten-1 white--text" v-text="item.icon" ></v-icon>
                </v-list-item-avatar>

                <v-list-item-content >
                    <v-list-item-title v-text="item.name"></v-list-item-title>
                    <small>ID #{{item.id}} | parent #{{item.parentId}}</small>
                </v-list-item-content>

                <v-list-item-action>
                    <v-btn icon>
                        <v-icon color="grey lighten-1">mdi-information</v-icon>
                    </v-btn>
                </v-list-item-action>
            </v-list-item>

            <v-divider inset></v-divider>
            <v-subheader inset>Files</v-subheader>

            <v-list-item v-for="item in items" :key="item.name">
                <v-list-item-avatar>
                    <v-icon class="grey lighten-1 white--text" v-text="item.icon" ></v-icon>
                </v-list-item-avatar>

                <v-list-item-content>
                    <v-list-item-title v-text="item.name"></v-list-item-title>
                    <small>ID #{{item.id}} | parent #{{item.parentId}}</small>
                </v-list-item-content>

                <v-list-item-action>
                    <v-btn icon>
                        <v-icon color="grey lighten-1">mdi-information</v-icon>
                    </v-btn>
                </v-list-item-action>
            </v-list-item>
        </v-list>
    </v-card>
    </v-col>
</template>


<script>
    import DriveDataService from "@/services/DriveDataService";
    import AddFolder from "@/components/drive/form/AddFolder";

    export default {
        components: {AddFolder},
        data: () => ({
            getParentId: 32,
            spaceId: 0,

            showBackArrow: false,
            folders: [], //{ icon: 'mdi-file', name: 'example', parentId: 0, id: 23 },
            items: [], //{ icon: 'mdi-file', name: 'example', parentId: 0, id: 23 },
        }),
        created: function () {
            this.refreshData();
        },
        watch: {
            $route: function(newVal, oldVal) {
                this.refreshData();
            },
            spaceId: function(newVal, oldVal) {
                this.showBackArrow = (this.spaceId !== '0');
            },
        },
        methods: {
            getSpaceFromDrive: function (id) {
                DriveDataService.findOne(id).then(response => {
                    console.log(response.data.folders);
                    this.folders = response.data.folders;
                    this.items = response.data.items;
                });

                this.test();//FIXME
            },
            refreshData() {
                this.spaceId = this.$route.params.id ?? '0';
                this.getSpaceFromDrive(this.spaceId);
                console.log('new spaceId', this.spaceId);
                this.$forceUpdate();//reload component and fetch new data
            },
        }
    }
</script>
