<!--suppress ALL -->
<template>
    <v-container fluid grid-list-md>
        <v-layout id="space" row wrap>
        </v-layout>
    </v-container>
</template>

<script>
    import axios from 'axios';
    import draggable from "vuedraggable";

    export default {
        data()  {
            return {

            }
        },
        methods: {

        }
    }
</script>

<style lang="scss" scoped>

</style>
