<template>
    <radial-menu
        style=""
        :itemSize="50"
        :radius="100"
        :angle-restriction="80">
      <radial-menu-item style="background-color: white" @click="action">
        <span>edit</span>
      </radial-menu-item>
      <radial-menu-item style="background-color: white" @click="action">
        <span>delete</span>
      </radial-menu-item>
    </radial-menu>
</template>

<script>
import { RadialMenu,  RadialMenuItem } from 'vue-radial-menu'

export default {
  name: 'app',
  components: {
    RadialMenu,
    RadialMenuItem
  },
  data () {
    return {
      items: ['edit', 'delete', 'color'],
    }
  },
  methods: {
    action () {
console.log();
    }
  }
}
</script>
