<template>
  <v-col>
    <v-toolbar color="light-blue" dark>
      <v-btn icon v-if="showBackArrow" v-on:click="$router.go(-1)">
        <v-icon>mdi-arrow-left</v-icon>
      </v-btn>
      <v-spacer></v-spacer>
      <!--COM-->
      <add-folder v-bind:props-parent-id="folderId" @refresh="refreshData()"></add-folder>
      <!--COM-->
      <add-item v-bind:props-parent-id="folderId" @refresh="refreshData()"></add-item>
    </v-toolbar>

    <v-card class="mx-auto">
      <!--COM-->
      <drive-sortable v-bind:props-refresh="refresh"></drive-sortable>
    </v-card>

  </v-col>
</template>

<script>
import DriveSortable from '@/modules/drive/DriveSortableList.vue'
import AddFolder from "@/modules/drive/form/AddFolder";
import AddItem from "@/modules/drive/form/AddItem";

export default {
  components: {DriveSortable, AddFolder, AddItem},
  data: () => ({
    folderId: '0',
    refresh: false,
    showBackArrow: false,
  }),
  watch: {
    $route: function() {
      this.folderId = this.$route.params.id ?? '0';
    },
    folderId: function(newVal, oldVal) {
      this.showBackArrow = (this.folderId !== '0');
    },
  },
  methods: {
    refreshData() {
      this.refresh = !this.refresh;
    },
  }
}
</script>
