<template>
  <div class="about">
    <h1>Test page</h1>
    <test></test>
  </div>
</template>

<script>
  import Test from '@/components/test/Test'

  export default {
    components: {
      Test
    }
  }
</script>