<template>
  <div>
    <ul class="item-list">
      <draggable class="list-group container" v-model="elementsList" @start="isDragging=true" @end="isDragging=false">
        <transition-group type="transition" :name="!isDragging ? 'flip-list' : null">

          <li v-for="item in elementsList" :key="item.orderNo">
            <div class="item-wrapper">

              <router-link tag="div" :to="'/drive/' + item.id" class="item-wrapper">

                <div class="icon-wrapper bg-blue ma-r-2">
                  <v-icon class="grey lighten-1" dark v-text="item.icon"></v-icon>
                </div>
                <div class="item-text">
                  <p>{{ item.name }}</p>
                  <small>ID #{{ item.id }} | parent #{{ item.parentId }} | order:{{ item.orderNo }}</small>
                </div>

              </router-link>
              <v-btn icon color="red" @click="confirmRemoveItem(item.id)">
                <v-icon>mdi-delete</v-icon>
              </v-btn>
            </div>
          </li>

        </transition-group>
      </draggable>

      <span v-if="elementsList.length === 0" class="empty-list">Empty folder</span>
    </ul>

    <confirm-modal
        v-bind:props-active="showRemoveModal"
        v-bind:props-title="'You confirm remove this item?'"
        v-bind:props-parameter="removeId"
        @emitConfirm="removeItem"
        @emitCancel="resetRemoveModal"
    ></confirm-modal>

  </div>
</template>

<script>
import draggable from 'vuedraggable'
import ConfirmModal from "@/components/modal/ConfirmModal";
import ItemDataService from "@/services/ItemDataService";
import DriveDataService from "@/services/ItemDataService";


export default {
  components: {draggable, ConfirmModal},
  props: {
    // 'propsElements': {
    //   type: Array,
    //   required: true,
    //   default() {
    //     return [
    //       {
    //         icon: "mdi-file",
    //         id: "1",
    //         name: "elementTestItem",
    //         orderNo: "0",
    //         parentId: "0",
    //         type: "ITEM"
    //       },
    //     ]
    //   }
    // },
    'propsRefresh': {
      type: Boolean
    }
  },
  data: () => ({
    showRemoveModal: false,
    removeId: null,
    // sortable
    isDragging: false,
    delayedDragging: false,
    // config component
    folderId: 0,
    elementsList: [], // { icon: 'mdi-file', name: 'example', parentId: 0, id: 23 },
  }),
  created: function() {
    this.refreshData();
  },
  watch: {
    $route: function() {
      this.refreshData();
    },
    propsRefresh() {
      this.refreshData()
    },
    isDragging(newValue) {
      if (newValue) {
        this.delayedDragging = true;
        return;
      }
      this.$nextTick(() => {
        this.delayedDragging = false;

        let i = 1;
        this.elementsList.forEach((item) => {
          item.orderNo = i;
          i = i + 1;
        });

        this.updateOrder();
      });
    },
  },
  methods: {
    // EMIT
    // emitFoo() {
    //   this.$emit('emitUpdateOrder', 123);
    // },
    confirmRemoveItem(id) {
      this.showRemoveModal = true;
      this.removeId = id;

    },

    // REMOVE
    removeItem(id) {
      ItemDataService.remove(id).then(response => {
        console.log(response);
        this.resetRemoveModal();
        this.refreshData();
      });
    },
    resetRemoveModal() {
      this.removeId = null;
      this.showRemoveModal = false;
    },

    // UPDATE LIST
    updateOrder() {
      const data = {
        id: this.folderId,
        all: this.elementsList
      };

      DriveDataService.updateOrderNo(data).then(response => {
        console.log('updateOrder', response.data);//FIXME DEV
      });
    },
    getElementsFromFolder: function (id) {
      DriveDataService.findOne(id).then(response => {
        this.elementsList = response.data.all;
      });
    },
    refreshData() {
      this.folderId = this.$route.params.id ?? '0';
      this.getElementsFromFolder(this.folderId);
      this.$forceUpdate();//reload force component and fetch new data
    },
  }
}
</script>

<style lang="scss" scoped>
ul {
  li {
    align-items: center;
    display: flex;
    flex: 1 1 100%;
    letter-spacing: normal;
    min-height: 48px;
    outline: none;
    padding: 0 16px;
    position: relative;
    text-decoration: none;
    border-radius: 55px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  li:hover {
    background: #98bdea1f;
    cursor: pointer;
  }
}

.item-text {
  text-align: left;
  flex: 1 1;
}

.icon-wrapper {
  color: white !important;
  height: 40px;
  min-width: 40px;
  width: 40px;
  align-items: center;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  line-height: normal;
  position: relative;
  vertical-align: middle;
  overflow: hidden;
}


.info:hover {
  background: #f1f1f1 !important;
  opacity: 0.9;
}

.item-wrapper {
  display: contents;
  margin-top: 15px;
  margin-bottom: 15px;

}

.icon {
  font-size: 22px;
  width: 22px;
  height: 22px;
}

.bg-blue {
  background: dodgerblue !important;
}

.bg-grey {
  background: darkgray !important;
}

.color-gray {
  color: #bdbdbd !important;
  caret-color: #bdbdbd !important;
}

.ma-r-2 {
  margin-right: 2rem;
}

.item-list {
  min-height: 90px;
}

.empty-list {
  height: 90px;
  align-items: center;
  display: inline-flex;
  color: #bfbfbf;
}
</style>
