<template>
        <v-list two-line subheader>
            <v-subheader inset>Folders</v-subheader>

            <draggable class="list-group container"  v-model="elementsList" :move="onMove" @start="isDragging=true" @end="isDragging=false">
              <transition-group type="transition" :name="!isDragging ? 'flip-list' : null">
                    <!-- problem with :to="'/drive/' + item.id" link-->
                    <v-list-item v-for="item in elementsList" :key="item.orderNo" :to="'/drive/' + item.id" link>
                        <v-list-item-avatar >
                            <v-icon class="grey lighten-1 white--text" v-text="item.icon"></v-icon>
                        </v-list-item-avatar>

                        <v-list-item-content>
                            <v-list-item-title v-text="item.name"></v-list-item-title>
                            <small>ID #{{item.id}} | parent #{{item.parentId}} | order:{{item.orderNo}}</small>
                        </v-list-item-content>

                        <v-list-item-action>
                            <v-btn icon>
                                <v-icon color="grey lighten-1">mdi-information</v-icon>
                            </v-btn>
                        </v-list-item-action>
                    </v-list-item>
                </transition-group>
            </draggable>
        </v-list>
</template>


<script>
    import draggable from 'vuedraggable'

    export default {
        components: {draggable},
        props: {
            'propsElements': {
                type: Array,
                required: true,
                default() {
                    return [
                        {
                            icon: "mdi-file",
                            id: "1",
                            name: "elementTestItem",
                            orderNo: "0",
                            parentId: "0",
                            type: "ITEM"
                        },
                    ]
                }
            },
            'propsFolderId': {
                type: String,
                required: true,
                default: '0'
            }
        },
        data: () => ({
            // sortable
            editable: true,
            isDragging: false,
            delayedDragging: false,
            // config component
            folderId: 0,
            elementsList: [], // { icon: 'mdi-file', name: 'example', parentId: 0, id: 23 },
        }),
        mounted() {
            this.elementsList = this.propsElements;
        },
        watch: {
            propsElements() {
                this.elementsList = this.propsElements;
                console.log('this.propsElements', this.propsElements);//FIXME
            },

            folderId: function(newVal, oldVal) {
                this.showBackArrow = (this.folderId !== '0');
            },
            isDragging(newValue) {
                if (newValue) {
                    this.delayedDragging = true;
                    return;
                }
                this.$nextTick(() => {
                    this.delayedDragging = false;
                    this.setElementsOrder();
                    this.emitElementOrder();
                });
            },
        },
        methods: {
            // sortable
            setElementsOrder() {
                let  i = 1;
                this.elementsList.forEach((item) => {
                    item.orderNo = i;
                    i = i + 1;
                });
            },

            onMove({relatedContext, draggedContext}) {
                const relatedElement = relatedContext.element;
                const draggedElement = draggedContext.element;

                return (
                    (!relatedElement || !relatedElement.fixed) && !draggedElement.fixed
                );
            },
            // emit
            emitElementOrder() {
                const data = {
                    id: this.folderId,
                    all: this.elementsList
                };
                this.$emit('emitUpdateElementsOrder', data);
            },
        }
    }
</script>

<style lang="scss" scoped></style>
