<!--suppress ALL -->
<template>
  <v-row justify="center">
    <v-btn color="primary" dark @click="activeModal = true">
      open modal
    </v-btn>

    <v-dialog v-model="activeModal" persistent max-width="390">
      <v-card>
        <v-card-title class="headline">
        </v-card-title>
        <v-list-item-title>{{ title }}</v-list-item-title>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="gray darken-1" text @click="emitCancel()">
            Cancel
          </v-btn>
          <v-btn color="red darken-1" text @click="emitConfirm()">
            Remove
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
export default {
  data() {
    return {
      title: '...',
      activeModal: false,
      parameter: '...'
    }
  },
  props: {
    'propsActive': {
      type: Boolean,
      default: false
    },
    'propsTitle': {
      type: String,
      default: '...'
    },
    'propsParameter':{
      type: String,
      default: '...'
    },
  },
  mounted() {
    this.title = this.propsTitle;
    this.activeModal = this.propsActive;
    this.parameter = this.propsParameter;
  },
  watch: {
    propsActive() {
      this.activeModal = this.propsActive;
    },
    propsTitle() {
      this.title = this.propsTitle;
    },
    propsParameter() {
      this.parameter = this.propsParameter;
      console.log('propsParameter', this.parameter);//FIXME DEV
    },
  },
  methods: {
    emitConfirm() {
      this.activeModal = false;
      console.log('emitConfirm', this.parameter);//FIXME DEV
      this.$emit('emitConfirm', this.parameter);
    },
    emitCancel() {
      this.activeModal = false;
      this.$emit('emitCancel', true);
    },
  },
}
</script>

<style lang="scss" scoped>

</style>
