<template>
    <v-app>
        <!--  TOP bar  -->
        <v-app-bar app clipped-left color="red"  dense >
            <v-app-bar-nav-icon @click.stop="show = !show"/>
            <v-icon class="mx-4" large >mdi-cloud</v-icon>
            <v-toolbar-title class="mr-12 align-center">
                <span class="title">vDrive</span>
            </v-toolbar-title>
            <v-spacer/>
        </v-app-bar>

        <!--  LEFT bar  -->

        <v-navigation-drawer v-model="show" app clipped >
            <v-list dense>
                <v-list-item
                        v-for="item in navigation"
                        :key="item.text"
                        :to="item.path"
                        link
                >
                    <v-list-item-action>
                        <v-icon>{{ item.icon }}</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>
                            {{ item.text }}
                        </v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>
    </v-app>
</template>

<script>
    import Navigation from '@/view/navbar/navigation'

    export default {
        props: {
            source: String,
        },
        data: () => ({
            show: true,
            navigation: [],
        }),
        mounted() {
            this.navigation = Navigation.getDefaultMenu();
        },
        created () {
            this.$vuetify.theme.dark = true
        },
    }
</script>


<style lang="scss">
    .v-application--wrap {
        min-height: 48px !important;
    }
</style>
