<template>
    <v-row justify="center">
        <v-dialog v-model="show" persistent max-width="600px">
            <template v-slot:activator="{ on }">
                <v-btn color="primary" dark v-on="on">Add folder </v-btn>
            </template>
            <v-card>
                <v-card-title>
                    <span class="headline">Add folder</span>
                </v-card-title>
                <v-form
                        ref="form"
                        v-model="valid"
                >
                <v-card-text>
                    <v-container>
                        <v-row>
                            <v-col cols="12">
                                <v-text-field label="name"
                                              @keyup.enter="save()"
                                              v-model="form.name"
                                              required
                                              autofocus
                                              :counter="20"
                                              :rules="[ v => !!v || 'Name is required', v => (v && v.length <= 20) || 'Name must be less than 10 char']"
                                >
                                </v-text-field>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text v-on:click="close()">Close</v-btn>
                    <v-btn color="blue darken-1" text v-on:click="save()" >Save</v-btn>
                </v-card-actions>
                    </v-form>
            </v-card>
        </v-dialog>
    </v-row>
</template>

<script>
    import ItemDataService from "@/services/ItemDataService";

    export default {
        name: "AddFolder",
        props: {
            'propsParentId': {
                type: String,
                //required: true,
                default: '0'
            }
        },
        data: () => ({
            valid:true,
            parentId: null,
            show: false,
            form: {
                name: null,
                parentId: null,
                type: 'FOLDER',
                orderNo: 0
            }
        }),
        methods: {
            validateForm () {
                return this.$refs.form.validate()
            },
            resetValidationForm () {
                this.$refs.form.resetValidation()
            },
            resetForm() {
                this.$refs.form.reset()
            },
            save() {
                if (this.validateForm()) {
                    this.setParentId();
                    console.log('form save', this.form);//FIXME
                    this.show = false;

                    this.form.parentId = this.parentId;
                    ItemDataService.create(this.form).then(response => {
                        console.log('response', response.data);//FIXME
                        this.resetForm();
                        this.refreshParent();
                    });

                    this.close();
                }
            },
            close() {
                this.valid = true;
                this.show = false;

            },
            setParentId(){
                this.parentId = this.propsParentId;

            },
            refreshParent (event) {
                this.$emit('refresh')
            }
        }
    }
</script>

<style scoped>

</style>