<template>
    <v-container >
        <v-layout>
            <slot></slot>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
        name: "default"
    }
</script>

<style scoped>

</style>