<template>
  <div id="app">

    <navbar/>

    <default-layout>
      <router-view></router-view>
    </default-layout>

  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import Navbar from "@/view/navbar/navbar.vue";
import DefaultLayout from "@/view/layout/default.vue";

@Component({
  components: {DefaultLayout, Navbar}
})
export default class App extends Vue {

}

console.log("*** ENV=" + process.env.VUE_APP_ENV);
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
